# 1. 변수

In [ ]:
name = " 홍길동 "
age = 20 
item_count = 15 
print("이름:", name.strip())

In [ ]:
city = " seoul "
City = " busan "
print(city, City )

In [ ]:
city1 = " seoul "
print(city1)

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [ ]:
# 정수 
x = 5 
y = -1 
z = 0 
money = 1_000_000_000  # , 대신 _ 사용 가능
print(x, y, z, money)

In [ ]:
print(type(x))

In [ ]:
# 실수 
a = 3.141
b =- 2.5
c = 0.000000000000000001 #1e-18 이말은 소수점 18자리까지 표현한다는 의미
print(a, b, c   )

In [ ]:
x = 1e+10 # 1e+10은 10의 10제곱을 의미 = 0이 10개
y = 3e-5
print(x, y)

In [ ]:
z = 1.0 
print(type(z)) # <class 'float'> 실수

### (2) 산술/복합 연산

In [ ]:
num1 = 10 # 변수명에 숫자 사용 불가
num2 = 20

print(num1 + num2) # 변수명에 공백 사용 불가
print(num1 - num2) # 변수명에 특수문자 사용 불가
print(num1 * num2) # 변수명에 한글 사용 불가
print(num1 / num2) # 변수명에 예약어 사용 불가  # print(num1 ** num2) # 변수명에 대소문자 구분 없음
print(num1 // num2) # 변수명에 대소문자 구분 있음           
print(num1 % num2) # 변수명에 대소문자 구분 있음

In [ ]:
num3 = 12/3

print(type(num3))

In [ ]:
money =50_000
print("내잔고:", money)

money += 20_000
print("내잔고:", money)

money -= 18_000
print("내잔고:", money)

In [ ]:
text = 100
ea =30
print(int(text//ea))

In [ ]:
#100 나누기 30 = 몫 3 나머지 10 
# 나머지 10도 페이지로 표현할 수 있다. 
#나머지가 있는 경우에는 몪에 1을 더한다 
posts = 100
posts_per_page = 30
page = posts // posts_per_page 
remainder = posts % posts_per_page 



if remainder > 0
    page += 1
print(page)

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
posts = 100
posts_per_page = 30

page = posts // posts_per_page
remainder = posts % posts_per_page

if remainder > 0:
    page += 1

print(page)

출생년도가 1982일 때 홀수, 짝수 판단하기

In [ ]:
birth = 1982
result = birth % 2
print(result) # 0 이면 남자, 1이면 여자

## 2) ⭐ 문자열

### (1) 표현

In [ ]:
message = "Hello"
print(message)  # Hello

In [ ]:
message = " i'm a man"
print(message)

In [ ]:
message = " i'm a man"

In [ ]:
message = '\"철수가 말했습니다\"'
print(message)

In [ ]:
message = ' "철수가 말했습니다" '
print(message)

In [ ]:
review ="""짜장면 너무 맛있어요 
여러분들 꼭 드셔보세요 
완전 추천합니다"""
print(review)

### (2) 연산

In [ ]:
# 더하기 +(결합) 와 곱하기 *(반복) 만 있을것이다 
text1 = "안녕"
text2 = "하세요 "    
text = text1 + text2 
print(text)

In [ ]:
text1 = ""

In [ ]:
#디버깅 
print("="*50)   
print("반복1이 시작되었습니다")
print("="*50)

In [ ]:
name = "홍길동"
name1 = "홍길동 "
print(name)
print(name1)

In [ ]:
print((len(name)))
print((len(name1)))

### (3) 인덱싱/슬라이싱

# 인덱싱

In [ ]:
regist_num = "901212-1325221" 
print(regist_num[7]) #성별확인 
print(regist_num[-7])

In [ ]:
product1 = "1002A"
product2 = "1023938B"
product3 = "22C"
print(product1[-1]) # 1
print(product2[-1]) # B
print(product3[-1]) # C

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [ ]:
regist_num = "901212-1325221" 
print(regist_num[0:6]) # 0부터 6까지 슬라이싱
print(regist_num[:6]) 
print(regist_num[2:6]) 
#음수표현
print(regist_num[-12:-8])

In [ ]:
#주민등록번호 뒷자리에서 성별을 제외하고 *
regist_num = "901212-1325221" 
left = regist_num[:8]
right = "*" *6
print(left + right)  # 901212-*******

In [ ]:
print = "홍길동"

### (4) 문자열 포매팅(f-string)

In [ ]:
name = "홍길동"
print(f"{name}님 환영합니다.")  # {name} 출력

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [ ]:
address1 = "서울시 강남구          역삼동"
address2 = "강남구/동작구/노원구"
#문자안에 기능이 있을때 메서드  
# #메서드는 변수옆에 붙이는 함수라고 생각하면 된다


print(address1.split())
print(address2.split("/"))

예제. 파일 확장자 찾기

In [ ]:
file_name1 = "data.txt"
file_name2 = "text.ipynb"
file_name3 = "time_stamp.json"
print(file_name1.split("."))

#### 문자열 대체(replace)

In [ ]:
email = " jason@company.com" 
print(email.replace("jason", "peter"))

#### 대/소문자 변환(lower, upper)

In [ ]:
gender = "mmffMFmf"
gender = (gender.lower())
print(gender.lower())
print(gender.count("m"))

#### 공백 제거(lstrip/rstrip/strip)

In [ ]:
name = "   홍길동"

print(f"{name.strip()}")
print(f"{name.lstrip()}")
print(f"{name.rstrip()}")

#### 카운트 세기(count)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [ ]:
review = """
짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""
review.count("짬뽕")

## 3) 리스트(List)

### (1) 표현

In [ ]:
#숫자,문자
##리플[], 딕셔너리{}, 집합{}, 튜플() 
#딕셔너리는 key와 value로 구성되어 있다.{'키':값}
#리스트는 순서가 있고, 중복이 가능하다.
#집합은 순서가 없고, 중복이 불가능하다.
#튜플은 순서가 있고, 중복이 가능하지만 수정이 불가능하다.
#리스트 [사과, 바나나, 오렌지, 사과]
#딕셔너리 {'사과':apple, '바나나':banana, '오렌지':orange} fruits['사과']
#집합 {1, 2, 3} 고유
#튜플 (사과, 오렌지, 멜론)
불(Bool) True, False
#정수 int 실수 float 문자열 str 리스트 list 딕셔너리 dict 집합 set 튜플 tuple
#mylist = []
print(mylist)

In [ ]:
jan = 20000 
feb = 5000
mar = 30000
apr = 10000
may = 2000

money = jan + feb+ mar + apr + may
print(money)  # (20000, 5000, 30000, 10000, 2000)

In [ ]:
money2025 = [2000, 40000, 5000]
print((sum(money2025)))  # 47000

In [ ]:
#리스트 만들기 
mylist =[1, 2, "가", ["a", "b", "c"], (5),{"key":"valuew"} ]
print(mylist)

In [ ]:
data = [['홍길동', 30], ['박영희', 22 ],['김철수', 25], ['이영희', 28]]
print(data)  # ['홍길동', 30]
print((len))

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [ ]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

In [ ]:
orders = ["pasta", "pizza", "cake", "bread"]
#거꾸로 
print(orders[::-1])

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [ ]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][0],data[3][1])

In [ ]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[-1][:2]) #리스트라서 가능하다

### (2) 연산

#### 덧셈(결합)

In [ ]:
text1 = '점심'
text2 = '뭐먹지'
result = text1 + text2
print(result)

#### 곱셈(복제)

In [ ]:
text = "안녕"
result =text*5
print((result))

In [ ]:
jan_visits = [10, 0, 3, 2]
feb_visits = [2, 50, 23, 29]

vists = jan_visits + feb_visits
print(vists)  # [10, 0, 3, 2, 2, 50, 23, 29]

### (3) range

In [ ]:
#`range(n)` : 0부터 n-1까지의 범위를 만들어준다.

In [ ]:
# 연속된 숫자를 리스트로 만들고 싶어요 
num_list =range(4)

print(num_list)
print(type(num_list))  # [0, 1, 2, 3]

In [ ]:
num_list = list(range(10))
print(num_list)
print(num_list[3 :])

In [ ]:
print(type(range(10)))
num_list = list(range(10))
print(type(num_list))
num_list = list(range(1, 2, 2))
print(num_list)

In [ ]:
#range (start, end ) : start 부터 end -1 까지 범위를 만든다
num_list = list(range(10))

num_list = list((range(1,11,3)))
print(num_list)

In [ ]:
num_list = list(range(10))
num_list = list((range(5, , -1)))
print(num_list)

### (4) 수정/추가/삭제

#### 수정

In [ ]:
# 0에서 7까지의 범위를 나열
num_list = (list(range(8)))
print(num_list)

#1번째 값을 '일'을 바꾸기 
print(num_list[1])
num_list[1] = "일"
print(num_list)

In [ ]:
#5번째 값을 '오' 
print(num_list[5])
num_list[5] = "오"
print(num_list)

In [ ]:
#3번째에서 끝까지의 데이터를 "하하하"로 바꾸기

In [ ]:
#슬라이싱한 자료를 대체하기 위해서는 여러 개의 자료가 담긴 리스트여야한다 (한개의 자료이면 안된다.)
#문자열은 (ex. "안녕하세요 ") 자동으로 글자 하나하나를 요소로 인식해준다.

#### 추가

In [ ]:
data = list(range(5))

#데이터 한 개 추가 
data = data + [5]
print((data))

In [ ]:
#데이터 여러 개 추가 
data = list(range(5))
data = data + [1, 2, 3]
print(data)

In [ ]:
data = list(range(5))
data.append([1, 2, 3, 4, 5])
print(data)

In [ ]:
data = list(range(5))
data.extend([1, 2, 3, 4, 5])
print(data)

#### 삭제

In [ ]:
print(list(range(5)))

In [ ]:
print(list(range(2, 6)))

In [ ]:
#3번째 데이터를 삭제해주세요 
num_list = list(range(0, 100, 10))

#3번째 데이터를 삭제해주세요(del 이용) 
num_list.del(2)
print(num_list)
#7번째 데이터를 삭제해주세요(remove 이용)
num_list.remove(70)
print(num_list)
#뒤에서 3번째부터 끝까지 데이터를 삭제해주세요 
print(num_list[-3:])
num_list[-3:] = []
print(num_list)

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [ ]:
#"ID003" 데이터에 오류가 생겼다 
#오류가 생긴 데이터는 삭제하고 error_data에 담아주세요 
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data =[]
error_data.append((pop_data))
print(error_data)

# 삽입

In [ ]:
num_list = [10, 20, 30]
print(num_list)
num_list.insert(2,40)
print(num_list)

In [ ]:
num_list = list(range(0, 100, 10))
print(num_list)

## 4) 튜플(Tuple)

# 리스트[] 튜플 ()

In [ ]:
#빈 튜플 만들기 
data = ()
#튜플 데이터의 타입 출력하기 
print(type(data))

### (1) 표현

In [ ]:
# 요소가 1개인 튜플 만들기 (데이터 10)
data = (10)
print(data)
print(type(data))

data = (10,)  
print(data)
print(type(data))

In [ ]:
fruits = ( "사과", "포도", "오렌지")
fruits[1] = '멜론'
print(fruits)

In [ ]:
del fruits[-1]
print(fruits)

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [ ]:
mydict ={}
print((mydict))
print(type(mydict))

In [ ]:
data = [["홍길동", 68], ["최수연", 44], ["김철수", 90]]
print(data)

In [ ]:
score_data1 = {
    "이름": ["홍길동", "최수연", "김철수"]
    "성적": [68, 44, 90]
}
score_data2 = {
            "홍길동": 68, "최수연":44 "김철수" : 90
}
print(score_data1)
print(score_data2)

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [ ]:
 weather_data = {
     'city': 'Seoul',
     'temperature': 22.5,  # 섭씨
     'humidity': 60,       # 상대 습도(%)
     'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
     }

In [ ]:
print(weather_data["city"])
weather_data["city"] = "Busan"
print(weather_data)

In [ ]:
#미세먼지 ('pm10')키 추가하기 
weather_data["pm10"] = 34
print(weather_data)

In [ ]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

print(weather_data["city"])
weather_data["city"] = "Busan"
print(weather_data["city"])
print(weather_data)           # 문제 1

weather_data["PM10"] = 34
print(weather_data)           # 문제 2

print(weather_data["forecast"])

weather_data["forecast"].append(["Rainy", "Rainy"])
print(weather_data)
weather_data["forecast"].extend(["Rainy", "Rainy"])
print(weather_data)           # 문제 3

### (3) 관련 메서드

#### 조회

In [ ]:
student = {"name": "홍길동", "age":28, "height":187.3, "score":88}

In [ ]:
#모든 키 조회
print(list(student.keys()))
#모든 값 조회
print(type(student.keys()))

print(list(student.value()))
#모든 (키,값) 조회
print(type(student.value()))
#모든 (키,값) 조회
print(list(student.items()))
#모든 (키,값) 조회
print(type(student.items()))

In [ ]:
student = {"name": "홍길동", "age":28, "height":187.3, "score":88}
#name키에 대한 값을 추출해주세요 
print(student.get("weight", "없음"))
#모든 값 조회

In [ ]:
"weight" in student

In [ ]:
"weight" not in student

In [ ]:
#student 딕셔너리 a라는 키가 있으면 값을 A라고 바꿔주고 아니라면 a라는 키를 값을 ""으로 만들어주세요 
#student_list의 학생이 student_dict에 없으면 "참석"을 값으로 딕셔너리의 키를 등록하라
student_list = ["홍길동", "김예지", "김사랑"]
student_dict = {"김예지":"참석"}
for student in student_list :
    if student not in student_dict: 
        student_dict[student] = "참석"

print(student_dict)

In [ ]:
student_dict3 = {'김유정': '참석', '장찬영': '참석', '황화인': '참석'}
student_dict3.clear()
print(student_dict3)

#### 삭제

## 6) 집합

### (1) 표현

In [ ]:
set_list = []
myset = set(set_list)

print(myset)
print(type(myset))

In [ ]:
#중복 제거 
set_list = []
myset = set(set_list)

print(myset)
print(myset(type))

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [ ]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

In [ ]:
emails_set =set(email)
print(set(0))

In [ ]:
myset = {1, 2, 3, 4, 5}
print(myset)

#6추가하기 
myset.add(6)
print(myset)

#5추가하기 
myset.add(5)
print(myset)

In [ ]:
#4, 7, 8 추가하기 
myset.update({4,7,8})
print(myset)

### (2) 요소 추가/제거

#### 추가

In [ ]:
myset.remove(5)
print(myset)

#### 제거

In [ ]:
#remove, discard
#5 제거하기 
# 9 제거하기 
myset.remove(5) 
print(myset)

In [ ]:
#myset.remove(9) 
#print(myset) 오류발생

In [ ]:
myset.discard(9)
print(myset)  #9가 없음에도 제거했다고 인식

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [ ]:
set1 = {"A", "B", "C", "D", "F", "G"}
set2 = {"A", "B", "F", "H"}

#합집합(요가 또는 헬스 / 요가 OR 헬스 
set_insert

#차집합

In [ ]:
in_likesport = {"농구", "축구", "야구", "배구", "MMA"}
chan_likesport = {"배구", "수영", "양궁", "축구", "클라이밍"}

합집합
set_union = in_likesport | chan_likesport
print(set_union)
set_union2 = in_likesport.union(chan_likesport)
print(set_union2)

교집합
set_union = in_likesport & chan_likesport
print(set_union)
set_union2 = in_likesport.intersection(chan_likesport)
print(set_union2)

차집합 (위 - 아래)
set_union = in_likesport - chan_likesport
print(set_union)
set_union2 = in_likesport.difference(chan_likesport)
print(set_union2)

차집합 (아래 - 위)
set_union = chan_likesport - in_likesport
print(set_union)
set_union2 = chan_likesport.difference(in_likesport)
print(set_union2)
﻿

### (3) 연산

## 7) 불

In [ ]:
swich =True
login =False

In [ ]:
login = True
if login == True: 
    print("환영합니다")

In [ ]:

login = False
if login == True :
    print("어서오십시오. 공주님.")
else :
    print("저리 썩 물러가지 못할까")

In [ ]:
visit = {"A", "B", "C", "H", "I"}

if "G" not in visit :
    print("참석하지 않으셨습니다.")

In [ ]:
visit = {"A", "B", "C", "H", "I"}

if "김유정" not in visit:
        print("앵그리버드")

In [ ]:
#a == b 같다
#a != b 같지 않다 

#AB A|B 이때 |는 or
(T: True, F: False)
A B A|B(A or B)
T T  T
T F  T
F T  T
F F  F

# 제어문

## 1.조건문

In [ ]:
#미성년자 판단하기(만 18세이상)
#나이를 age라는 변수로 만들고 age가 19 미만이면. "미성년자입니다"
age = 16 
if age < 19:
    print("미성년자입니다")

In [ ]:
#나이를 age라는 변수로 만들고 age가 19 미만이면. "미성년자입니다" 라고 출력하고, 이상이면 "성인입니다"라고 출력
age = 59
if age < 19:
    print("미성년자입니다")
else:

    print("성인입니다")

In [ ]:
#등급에 따라 메시지 출력하기 
#A-Perfect, B-Excellent, C-Good, 그 외 노력하세요라고 출력해주세요 
a = "A-Perfect"
b = "B-Excellent"
c = "C-Good"
grade =[a,b,c]
cheerup = "노력하세요"
if "노력하세요"not in grade  
print(cheerup)

In [ ]:
grade = 'C'
if grade =='A':
    print("Perfect")
elif grade =='B':
    print("B-Excellent")
elif grade =='C'
    print('C-Good')
else:
    print("Unknown grade")  # optional: A, B, C가 아니면 여기 실행

In [ ]:
##화면에 Hello World 문자열을 출력하세요.
print('Hello World')

In [ ]:
#화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

In [2]:
#화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
#화면에 C:\Windows를 출력하세요.
print("C:\Windows")

C:\Windows

In [ ]:
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.") 
#\n은 줄바꿈 #\t 는 탭

안녕하세요.
만나서		반갑습니다.

In [15]:
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은""일요일") # 오늘은, 일요일

오늘은일요일

In [17]:
#print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [18]:
#print() 함수를 사용하여 다음과 같이 출력하세요.
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

In [ ]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 
#세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first",end = " ")
print("second")

first second

In [ ]:
#5/3의 결과를 화면에 출력하세요.
print(int(1.888)) #인트사용시에는 반올림 없음

1

In [58]:
#삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
stock = 50_000 #주식가격 
share = 10  #주식수
print(stock*share)

500000

In [ ]:
#다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
시가총액 = 298
stock = 50_000 #주식가격 
per = 15.79

In [81]:
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"
print(s, end ="")
print("!", end ="")
print(t)
print(s, "!", t)
print(s+"!",t)

hello!python
hello ! python
hello! python

In [ ]:
#아래 코드의 실행 결과를 예상해보세요.
# 2 + 2 * 3  =8
print((2+2*3)) #이때 웬만하면 (2*3)
print(((2+2)*3))

8
12

In [ ]:
#type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
#a = 128
#print (type(a))
#<class 'int'>
#아래 변수에 바인딩된 값의 타입을 판별해보세요.

#>> a = "132"

In [ ]:
#num_str = "720"
num_str = int("720")
type(num_str)
print(num_str)

720

In [ ]:
a = 1 
a = a + 1 
print(a)

2

In [ ]:
#정수 100을 문자열 '100'으로 변환해보세요.
a = 100
a = str(a)  #결과값이 도출되어도 a는 정수다 
print(a)

100

In [ ]:
a = 1 
b = str(a)
c = b  #b와 c는 정수

In [114]:
#018 문자열을 실수로 변환
#문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
a = "15.79"
a = float(a)
print(a)

15.79

In [120]:
#019 문자열을 정수로 변환
#year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2025"
year = int(year)
print(year, year-1, year-2)
year =year-1
print(year)

2025 2024 2023
2024

In [ ]:
# 020 파이썬 계산
#에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
price = 48_584
fax = 36 #무이자 36개월 
fax = 24 
result = price*fax
print(result)

1166016

In [5]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0], letters[2])

p t

In [9]:
#자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210" 
print(license_plate[4:9])

2210

In [13]:
#아래의 문자열에서 '홀' 만 출력하세요.

string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])

홀 홀 홀

In [17]:
#문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
reversed_string = string[::-1]
print(reversed_string)

NOHTYP

In [19]:
str = "장찬영"
reversed_str = str[::-1]
print(reversed_str)

영찬장

In [22]:
##025 문자열 치환
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_num = "010-7236-7744"
print(phone_num.replace("-",""))

01072367744

In [ ]:
car_num ="27너 9859"
print(car_num.replace(" ","")) #공백제거

27너9859

In [ ]:
#26
phone_num = "010 7236 7744"

print(phone_num.replace(" ",""))

01072367744

In [ ]:
#027 문자열 다루기
#url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"
print(url[-2],url[-1])

k r

In [34]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [44]:
#028 문자열은 immutable
#아래 코드의 실행 결과를 예상해보세요.

#lang = 'python'
#lang[0] = 'P'
#print(lang)    #Python으로 출력된다(x)

In [48]:
lang = 'python'

print(lang.replace("p","P"))

Python

In [49]:
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

In [ ]:
#30 replace 메서드
# 아래 코드의 실행 결과를 예상해보세요.

# >> string = 'abcd'
# >> string.replace('b', 'B')
# >> print(string)    문자열 변환식 aBcd로 변환

In [ ]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

# >> a = "3"
# >> b = "4"
# >> print(a + b) "34"

In [50]:
print("Hi" * 3)

HiHiHi

In [52]:
print("-"*80)

--------------------------------------------------------------------------------

In [60]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [97]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13



# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

print("이름 : %s 나이 : %d" % ("김민수", 10))
print("이름 : %s 나이 : %d" % ("이철희", 13))
print("이름 : %s 별명 : %s" % ("이철희", 13))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13
이름 : 이철희 별명 : 13

In [65]:
name3 = "김서영"
nickname = "감자"

print("이름 : %s 별명 : %s" % ("김서영", "감자"))

이름 : 김서영 별명 : 감자

In [74]:
print(f"이름 : {name1} age : {age2}")

이름 : 김민수 age : 13

In [82]:
print("이름 : {}, 나이 : {}".format(name1, age1))

이름 : 김민수, 나이 : 10

In [107]:
name3 : "김서영"
nickname: "감자"
print(f"이름 : {name3} 별명 : {nickname}")
print("이름 : {} 별명 : {}" .format(name3, nickname))
print("이름 : %s 별명 : %s " % ("김서영", "감자"))

이름 : 김서영 별명 : 감자
이름 : 김서영 별명 : 감자
이름 : 김서영 별명 : 감자

In [131]:
상장주식수 = "5,969,782,550"
replace_share = 상장주식수.replace(",", "")
num = int(replace_share)   
print(num)
type(num)

5969782550

int

In [132]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [133]:

ticker = "btc_krw"
upper = ticker.upper()
print(upper)

BTC_KRW

In [135]:
a = 'bad'
a = a.capitalize()
print(a)

Bad

In [140]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [143]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls")) # 둘중 하나로 끝나니 트루

True

In [144]:
file_name = "2020_보고서.xlsx"
file_name.startswith(("2020"))

True

In [145]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

In [166]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [153]:
data = "2020-05-01"
data.split("-")

['2020', '05', '01']

In [169]:
data = "   039490     "
data.rstrip()

'   039490'

In [174]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [179]:
movie_rank.insert(1, "슈퍼맨 ")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨 ', '슈퍼맨 ', '슈퍼맨 ', '슈퍼맨 ', '슈퍼맨 ', '스플릿', '럭키', '배트맨']

In [180]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

if "슈퍼맨 " not in movie_rank:
    movie_rank.insert(1, "슈퍼맨 ")

print(movie_rank)

['닥터 스트레인지', '슈퍼맨 ', '스플릿', '럭키']

In [184]:
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨 ', '스플릿']

In [185]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨 ', '스플릿', '배트맨']

In [188]:
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨 ']

In [194]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7] 

print(max(nums))
print("max: ", max(nums))

7
max:  7

In [201]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(min(nums))
print("min : ", min(nums))

1
min :  1

In [202]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [204]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(cook.count("피자"))
print(len(cook))

2
12

In [205]:
nums = [1, 2, 3, 4, 5]
nums_average = sum(nums) / len(nums)
print(nums_average)

3.0

In [206]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [214]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])
print(nums[::3])
print(nums[2::2])

[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[3, 5, 7, 9]

In [216]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [113]:
num1 = 1 
num2 = 2 
if num1 = num2:
    print("같다")
else: 
    print("다르다")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (705722838.py, line 3)

튜플

In [219]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [220]:
movie_rank = ("스플릿", "배트맨", "스파이더맨")
print(type(movie_rank))

<class 'tuple'>

In [221]:
num = (1)
print(type(num))

<class 'int'>

In [ ]:
# t = (1, 2, 3)
# t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment


#튜플은 수정불가능

In [222]:
t = 1, 2, 3, 4 

print(type(t))
#튜플은 괄호 없이도 사용가능하다 보통은 직관성을 위해 괄호를 씌운다

<class 'tuple'>

In [226]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)

print(type(data))

<class 'list'>

In [232]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
#1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
data = tuple(range(2, 100, 2))
print(data)
data = tuple(range(1, 50, 2)) #시작 수 어디까지 -> n-1 
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49)

In [239]:
a, b, *c = (0, 1, 2, 3, 4, 5)
a = 0 
print(b)
print(c)

1
[2, 3, 4, 5]

In [244]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores, _, _ = scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [247]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_scores = scores
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [248]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_scores, _ = scores
print(valid_scores)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [252]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

ice = {"메로나" :1500, "폴라포" : 1200, "빵빠레" : 1800}
print(ice)

ice["죠스바"] = 1200
ice["월드콘"] = 1500

print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1500, '폴라포': 1200, '빵빠레': 1800}
{'메로나': 1500, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [253]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1000
print(ice)

{'메로나': 1000, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [254]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [256]:
print(("월드콘 가격 : "), ice["월드콘"])

월드콘 가격 :  1500

In [258]:
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [260]:
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [263]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바'] = 1200 
print(icecream)

{'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '누가바': 1200}

In [265]:
 inventory = {'메로나' : [300, 20],  '비비빅' : [400, 3], '죠스바' :[250, 100] }
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [276]:
print("메로나가격 :", inventory["메로나"][0], "원")
print(inventory["메로나"][0], "원")

메로나가격 : 300 원
300 원

In [287]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [299]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values()) #value 에 꼭 s 붙일것 
print(price)
print(sum(price))

[1200, 1200, 1800, 1500, 1000]
6700

In [296]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
keys = list(icecream.keys())
print(keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [318]:
newproduct ={'팥빙수':2700, '아맛나':1000 }
icecream.update(newproduct)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '설레임': 3000, '팥빙수': 2700, '아맛나': 1000}

In [320]:

newproduct = {'설레임': 3000}
icecream.update(newproduct)

print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '설레임': 3000, '팥빙수': 2700, '아맛나': 1000}

In [323]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [329]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

bool 
True, False

In [330]:
print(3 == 5)

False

In [332]:
#103 아래 코드의 출력 결과를 예상하라

print(3 < 5)

#104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

True
True

In [ ]:
print ((3 == 3) and (4 != 3)) # != 다르다라는 뜻

True

In [334]:
print(3 != 3 )

False

In [ ]:
print(3 >= 4)
# print(3 <= 4) 안됨

False

In [336]:
if 4 < 3:
    print("Hello World")

In [337]:
if 4 > 3:
    print("Hello World")

Hello World

In [338]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [341]:
if False :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

3
4

In [342]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [344]:
user = input("입력:")
print(user * 2)

안녕하세요안녕하세요

In [359]:
user = input ("입력:")
print(user*5
      )

ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

In [362]:
num = input("입력")
num = int(num)+10  
print(num)

30

In [370]:
user = input("")
if int(user)%2 == 0:
    print("짝수")

else:
    print("홀수")

짝수

In [383]:
#사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

user = input("숫자를 입력하세요")
if int(user) + 20 > 255:
    print(255)
else:
    print(num)

255

In [397]:
# 114.사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 
# 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
user = input("숫자를 입력하세요")
num = int(user)-20
if int(num)<0:
    print(0) 
elif int(num)> 255:
    print(255)
elif int(num)> 0:
    print(num)

200

In [ ]:
#사용자로부터 입력 받은 시간이 정각인지 판별하라.
time = input("현재시간 :")   #정각
if time [-2]
현재시간:03:10
time = 02:00 

현재시간:02:00
정각 입니다.

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2219635977.py, line 1)

In [405]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

정각이 아닙니다.

In [410]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")
if user in fruit:
    print("정답입니다")
else: 
    print("오답입니다")

정답입니다

In [418]:
#  118.투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 
#  아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
invstment = input("투자 경고 종목:")

if invstment in warn_investment_list:
    print("투자 경고 종목입니다.")
else: 
    print("투자 경고 종목이 아닙니다.")

투자 경고 종목입니다.

In [437]:
#119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
# 사용자가 입력한 값이 딕셔너리 키 (key) 값에 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은:")

if user in fruit.keys(): 
    print("정답입니다")
else:
    print("오답입니다")

오답입니다

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 과일은:")

if user in fruit.values(): 
    print("정답입니다")
else:
    print("오답입니다")

오답입니다

In [ ]:
user = input(" ")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

aa

In [451]:
user = input("소문자 혹은 대문자를 입력하세요")
if user.islower():
    print(user.upper())

else: 
    print(user.lower())

AA

In [455]:
score = input("score:")
score = int(score)

if 81 <= score <= 100:
    print("grade is A")
if 61 <= score <= 80:
    print("grade is B")
if 41 <= score <= 60:
    print("grade is C") 
if 21 <= score <= 40:
    print("grade is D")
if 0 <= score <= 20:
    print("grade is E")

grade is A

In [478]:
환율 = {
    "달러": 1167,
    "엔": 1.096,
    "유로": 1268,
    "위안": 171
}

user = input("입력: ")  # 예: "100 달러"
num, currency = user.split()
print(f"{float(num) * 환율[currency]:,.2f} 원")
print(float(num) * 환율[currency], "원")
  # 환율 적용print(float(num) * 환율[currency], "원")

109.60 원
109.60000000000001 원

In [479]:
환율 = {
    "달러": 1167,
    "엔": 1.096,
    "유로": 1268,
    "위안": 171
}
user = input("입력 ")

num, currency = user.split()
print(f"{float(num)*환율[currency]:,.2f}원")
print(float(num) * 환율[currency], "원")

35,010.00원
35010.0 원

In [481]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)

if num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

345

In [485]:
number = input("번호를 입력하세요 ")
num = number.split("-")[0]
if number == "011":
    com = "SKT"
if number == "016":
    com = "KT"
if number == "019":
    com = "LGU"
else:
    com = "알 수 없음"

print(f"당신은 {com} 사용자입니다.")

당신은 알 수 없음 사용자입니다.

In [488]:
post_num = input("우편번호:") #우편번호
post_data = post_num[0:3]


if post_data in ["010", "011", "012"]:
    print("강북구")
elif post_data in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

도봉구

In [502]:
주민번호 = input("주민등록번호: ")         # 예: 900101-1234567
주민번호 = 주민번호.split("-")[1]        # 뒷자리: "1234567"
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

남자

In [508]:
주민번호 = input("주민등록번호:")
뒷자리 = 주민번호.split("-")[1]
if 0<= int(뒷자리[1:3]) <= 8 :
    print("서울입니다")
else: 
    print("서울이 아닙니다")

서울이 아닙니다

In [509]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [510]:

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [511]:
alphabet = ["A", "B", "C"]
for 변수 in alphabet: 
    print(변수)

A
B
C

In [512]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [513]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [514]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [518]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [526]:
변수 = "A"
print("출력:",변수)

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: A
출력: B
출력: C

In [527]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변수 ="A"
b = 변수.lower()
print("변환:",b)

변환: a
변환: b
변환: c
변환: a

In [533]:

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

#for 문으로 

num = [10, 20, 30]
for 변수 in num:
    print(변수)

10
20
30
10
20
30

In [538]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")
for 변수 in [10,"-------",20,"-------",30,"-------"]:
    print(변수)

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [ ]:
print("++++") #반복되는 코드시에만 변수 사용 
print(10)
print(20)
print(30)

print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30
++++
10
20
30

In [543]:
print("-------")
print("-------")
print("-------")
print("-------")

for 변수 in ["-------","-------","-------","-------"]:
    print(변수)

for 변수 in ["가", "나", "다", "라"]:
  print("-------")
  
  
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------
-------

In [552]:
변수 = 100
print(변수 + 10)
변수 = 200
print(변수 + 10)
변수 = 300
print(변수 + 10)
list = [100, 200, 300]
for 변수 in list:
    print(변수+10)

110
210
310
110
210
310

In [556]:

변수 = "SK하이닉스"
print(len(변수))
변수 = "삼성전자"
print(len(변수))
변수 = "LG전자"
print(len(변수))

list  = ["SK하이닉스", "삼성전자", "LG전자"]

for 변수 in list:
    print(len(변수))

6
4
4
6
4
4

In [559]:
# 리스트에는 동물이름이 문자열로 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6
변수 = 'dog'
print(변수,len(변수))
변수 = 'cat'
print(변수,len(변수))
변수 = 'parrot'
print(변수,len(변수))


list = ['dog', 'cat', 'parrot']
for 변수 in list:
    print(변수,len(변수))

dog 3
cat 3
parrot 6
dog 3
cat 3
parrot 6

In [560]:
list = ['dog', 'cat', 'parrot']
for 변수 in list:
    print(변수[0])

d
c
p

In [ ]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
list = [1, 2, 3]
for 변수 in list: 
    print("3 x",변수)

3 x 1
3 x 2
3 x 3

In [573]:
변수 = 1
print("3 x",변수,"=",3*변수)
변수 = 2
print("3 x",변수,"=",3*변수)
변수 = 3
print("3 x",변수,"=",3*변수)

list = [1, 2, 3]
for 변수 in list:
    print("3 x",변수,"=",3*변수)

    print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 2 = 6
3 x 3 = 9
3 x 3 = 9

In [585]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

list = ["가", "나", "다", "라"]
list = list[1:]
for 변수 in list: 
    print(변수)

list = ["가", "나", "다", "라"]
for 변수 in list[1:]:
  print(변수)

나
다
라
나
다
라

In [603]:
리스트 = ["가", "나", "다", "라"]

for 변수 in 리스트[: :2]:
 print(변수)

가
다

In [604]:
리스트 = ["가", "나", "다", "라"]

for 변수 in 리스트[: :-1]:
 print(변수)

라
다
나
가

In [607]:
num = [1,2,3,4,5,6,7,8,9,10]
print(num[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [608]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [609]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
    if 변수 % 3 == 0:
        print(변수)

3

In [610]:
리스트 = [5, 20, 44, 45]
for 변수 in 리스트:
    if 변수 %5 ==0:
        print(변수)

5
20
45

In [611]:
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
    if 변수%3 ==0 and 변수 <=20:
        print(변수)

12
18

In [613]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
    if len(변수)>=3: 
        print(변수)

study
python
language

In [614]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
    if 변수.isupper():
        print(변수)

A
D

In [615]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
    if 변수.islower():
        print(변수)

b
c

In [ ]:
변수 = "a"
변수 = 변수.upper()
print(변수)
변수 = "c"
변수 = 변수.upper()
print(변수)
변수 = "p"
변수 = 변수.upper()
print(변수)
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0].upper()+변수[1:])
for 변수 in 리스트:
  첫글자 = 변수[0]              # 1)
  대문자 = 첫글자.upper()     # 2)
  print(대문자 + 변수[1:])      # 3)

A
C
P
Dog
Cat
Parrot
Dog
Cat
Parrot

In [636]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    split = 변수.split(".")
    print(split[0])

hello
ex01
intro

In [638]:
리스트 = ["933328-1163322"]
for 변수 in 리스트:
    split = 변수.split("-")
    print(split[1])

1163322

In [642]:
data = "abcdef"
new = data.split("c")
print(new)

['ab', 'def']

In [666]:
변수 = ['intra.h']
print(변수[-1])
변수 = ['intra.c']
print(변수[-1])
변수 = ['define.h']
print(변수[-1])
변수 = ['run.py']
print(변수[-1])


리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
    split = 변수.split(".")
    if split[1]=="h" or  split[1]=="c":
     print(변수)

data = [ 1, 2 ,3]
print(data[::2])

intra.h
intra.c
define.h
run.py
intra.h
intra.c
define.h
[1, 3]

In [677]:
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
list = range(100)
for 변수 in list:
    print(변수)
type(변수)

list = range(100)
for i in list:
    print(i)
type(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

int

In [681]:
for i in range(2002, 2051, 4) :
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [701]:
i = list(range(30))
print(type(i))

TypeError: 'range' object is not callable

In [691]:
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [13]:
리스트 = (range(0, 100, -1))
for 변수 in 리스트: 
    print(변수)

In [11]:
for num in range(0,31,3):
    print(num)

0
3
6
9
12
15
18
21
24
27
30

In [18]:
for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [24]:
# 구구단 3단을 출력하라.
for num in range(3, 28,3):
    print(num)

for x in range(1, 10):
    print(3,"x",i, "=",3*i)

fo

3
6
9
12
15
18
21
24
27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27
3 x 9 = 27

NameError: name 'fo' is not defined

In [34]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

print(sum(range(1, 11)))

합 : 55
55

In [35]:
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
hab = 0 
for i in range(1,11,2):
    hab += i
print("홀수의 합:", hab)

홀수의 합: 25

In [39]:
result = 1
for i in range(1,11):
    result *= i  
print("곱셈:", result)

곱셈: 3628800

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list(i))

TypeError: 'list' object is not callable

In [46]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [ ]:
#* append / extend 차이 알기
#인스타그램 태그 수집기 
#post1 : #헬스, #단백질
#post2 : #닭가슴살, #다이어트, #단백질
#post3 : #요요, #헬스, #다이어트
#post4 : #닭가슴살, #단백질

#문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다
#문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다
#문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다

post1 = ["#헬스", "#단백질"]
post2 = ["#닭가슴살", "#다이어트", "#단백질"]
post3 = ["#요요", "#헬스", "#다이어트"]
post4 = ["#닭가슴살", "#단백질"]
posts = [post1, post2, post3, post4]

tags = []
for post in posts:
    tags.append(post)

print(tags)

tags = []
for post in posts:
    tags.extend(post)

print(tags)

[['#헬스', '#단백질'], ['#닭가슴살', '#다이어트', '#단백질'], ['#요요', '#헬스', '#다이어트'], ['#닭가슴살', '#단백질']]
['#헬스', '#단백질', '#닭가슴살', '#다이어트', '#단백질', '#요요', '#헬스', '#다이어트', '#닭가슴살', '#단백질']

In [48]:
a = "20230331rainyday"
print(a[:8])

20230331

In [51]:
a = "I %s newyork" %3 
print(a)

I 3 newyork

In [59]:
a = [1, 2, 3, 4, 5]
a[::-2]

[5, 3, 1]

In [ ]:
food = "햄버거"

a = f'나는 { food } 를 먹는다.'
print(a)

나는  햄버거 를 먹는다.

In [75]:
a = [ 1, 4, 3, 6] 

a.sort()
print(a)

[1, 3, 4, 6]

In [73]:
a = "나는 거지가 될거야 "

a.replace("거지가", "부자가")

'나는 부자가 될거야 '

In [ ]:
a = [2, 3, 4, 5, 60]

a.insert(3,100)
print(a)

[2, 3, 4, 100, 5, 60]

[2, 3, 4, 100, 5, 60]

In [54]:
a[::2]

[1, 3, 5]

In [131]:
result =set(tags)
print(result)

{'#헬스', '#다이어트', '#요요', '#단백질', '#닭가슴살'}