# 제어문

# 1. 조건문

## 1) 연산자

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [ ]:
#조건1:10세 이상 
#조건2 : 키가 120 이상
age = 14
height = 119
if age >= 10 & height >= 120:
    print("통과")
else:
    print("탑승불가")

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [ ]:
price = 80_000
level = "Gold"
if price >= 100_000 or level == "Gold":
    print("10% 할인")
else: 
    print("10% 할인 불가")

In [ ]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고 없으면 벌금이다. 
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현금 납부이다. 

# 벌금을 납부하게 된다면 "벌금 대상자"을 출력하고 아니면 "통과"를 출력한다
# 그리고 벌금을 납부하게 된다면 "카드납부" 아니면 "현금납부"를 출력한다.
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

In [ ]:
if license"in" wallet:
    print("통과")
else: 
    print("벌금 대상자")
#만약 벌금을 납부하게 되면 지갑에 카드(creditcard)가 있으면 카드 결제이고 아니면 현금 납부이다 
    if creditcard "in" wallet:
        print("카드납부")
    else:
        print("현금납부")

## 2) 활용

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [ ]:
temperature = 20
if 15 <= temperature <= 25:
    print("적절한 온도입니다.")
else:
    print("온도가 적절하지 않습니다.")

In [ ]:
temperature = 20
if 15 <= temperature and temperature <= 25:
    print("적절한 온도입니다.")
else:
    print("온도가 적절하지 않습니다.")

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [ ]:
GPA = 5
if GPA >= 4.0:
    print("100% 장학금")
elif GPA >= 3.5:
    print("50% 장학금")
elif GPA >= 3.0:
    print("50% 장학금")
if GPA < 3.0:
    print("비대상")

In [ ]:
GPA >= 4.0

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [ ]:
text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_word = "AI"

if search_word in text: 
    print(" 포함됩니다 ")
else: 
    print("포함되지 않습니다")

if search_word not in text: 
    print("포함되지 않는데요")
else:
    print("포함되는데요")

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

# 작동 흐름 
count = 0 -> 조건식 count < 3 True -> print(0)|count = 1 
count = 1 -> 조건식 count < 3 True -> print(1)|count = 2
count = 2 -> 조건식 count < 3 True -> print(2)|count = 3
count = 3 -> 조건식 count < 3 False

### (2) break

In [ ]:
count = 0
while count < 3: #조건식 :
    print(count)#실행코드
    count += 1

    if count > 3:
            break

In [1]:
count = 0 
while count < 3:
    print(count)
    count += 1

    if count > 3:
            break

0
1
2

In [3]:
data = list(range(30))
print(type(data))

<class 'list'>

In [ ]:
count = 0 
while True < 3: #트루는 원래 정수형으로  1의 값을 가진다 그래서 이 조건식에서는 무한 루프를 돌아갈 수 있다 
    print(count)
    count += 1 

    if count > 3:
              break

### (2) continue

In [ ]:
# 작동 흐름
# count = 0 -> 조건식 count < 3 True -> print(0) -> count = 1
# count = 1 -> 조건식 count < 3 True -> print(1) -> count = 2
# count = 2 -> 조건식 count < 3 True -> print(2) -> count = 3
# count = 3 -> 조건식 count < 3 False

In [ ]:
count = 0 
while True < 3: 
    print(count)
    count += 1

    if count > 3: 
        break

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

### (2) 관련 주요 함수

In [ ]:
#range(n): 0부터 n-1까지 1씩 증가하는 연속적인 범위를 생성해줌 
#range()를 이용해서 다음 출력이 나오도록 코딩해주세요 
#출력결과 
num_list - [1,2,3,4]
for

In [ ]:
for i in range(5):
    print(i+1)

In [ ]:
for i in range(1, 6):
    print(i)

In [ ]:
students = ["홍길동", "김철수", "한유리", "정성우"]
for student in students:
    print(student)

In [ ]:
# 위치 이름 
count = len(students)
#print(count)

for i in range(count): 
    print(i, students[i])

In [ ]:
for i, student in enumerate(students):
    print(i, student)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

### (3) break/continue

#### break

In [ ]:
#1부터 10까지 숫자 중에서 7이 나오면 반복문 중지 
#num = range[10]

#print(num)  

count = 0
while True < : #조건식 :
   #실행코드
    count += 1
    print(count)
    if count < 7:
        break

In [ ]:
for i in range(1, 11)
    if i == 5: 
        print("건너뛰기")

In [ ]:
#1부터 10까지 숫자 중에서 5만빼고 출력

#### continue

### (4) 활용

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [8]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
grades["홍길동"] = 85

for name,score in grades.items():
    print(f"{name}님의 성적은 {score}점입니다.")

John님의 성적은 85점입니다.
Emily님의 성적은 92점입니다.
Tom님의 성적은 78점입니다.
Lucy님의 성적은 88점입니다.
홍길동님의 성적은 85점입니다.

In [ ]:
count = 0
while count < 3: #조건식 :
    print(count)#실행코드
    count += 1

    if count > 3:
            break
    
    print(count)

In [ ]:
# 미션
#score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

## 출력 결과
score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}
for name in score_data.keys():
    print(name)
for name in score_data:
    print(name)


## 출력 결과
for score in score_data.values():
    print(score)

for score in score_data.values():
    print(score)

#68
#44
#90

## 출력 결과

for name, score in score_data.items():
    print(f"{name} {score}점")
#홍길동 68점
#최수연 44점
#김철수 90점

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [ ]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
for temp in

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

## 4) List Comprehension

In [ ]:
#1~10까지의 숫자리스트를 만들고 싶다. 
num_list = [ i for i in range(1, 11)]
print(num_list)

In [ ]:
#1~10까지의 숫자의 제곱 리스트를 만들고 싶다.
num_list = [ i**2 for i in range(1, 11)]
print(num_list)

In [ ]:
#1~10까지의 짝수 리스트를 만들고 싶다.
num_list = [ i for i in range(1, 11) if i % 2 == 0]
print(num_list)

In [ ]:
num_list = [if i %2 ==0 else "홀수" for i in range(1,11)]
print(num_list)